// VARIABLES
$primary-color: #f2f4f3;
$secondary-color: #63bf63;
$effect-color: #7fd1ae;
$text-color: #5a5555;
$line-color: #252323;

// BOILER PLATE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  color: #5a5555;
  font-family: sans-serif;
}

section {
  padding: 0 1.25em;
}

// TYPOGRAPHY
h1,
h2,
h3 {
  font-weight: 600;
  color: $secondary-color;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 3em 0 1.5em 0;
}

h3 {
  line-height: 26px;
  font-size: 1rem;
  font-weight: 600px;
  color: $secondary-color;
}
p,
li,
h3 {
  font-size: 1rem;
  line-height: 26px;
}

li {
  font-weight: 400;
}
hr {
  border: 1px solid $secondary-color;
  margin: 1em 0;
}

li {
  margin-bottom: 1em;
}
li:last-child {
  margin-bottom: 0;
}

a:visited,
a:link {
  text-decoration: none;
  color: $secondary-color;
}

a:hover,
a:active {
  color: $effect-color;
}
