// BOILER PLATE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  padding: 0 1.5em 0 1.5em;
}

// TYPOGRAPHY
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.625rem;
  margin: 1.5em 0 0.75em 0;
}

h3 {
  font-size: 1.25rem;
  margin: 2em 0 0.75em 0;
}
p,
li {
  font-size: 1.125rem;
}

p {
  line-height: 1.4;
}

li {
  margin-left: 3em;
  line-height: 1.6;
}

a:visited,
a:link {
  text-decoration: none;
}
