@forward "general";

// VARIABLES
$primary-color: #f2f4f3;
$secondary-color: #63bf63;
$effect-color: #7fd1ae;
$text-color: #5a5555;
$line-color: #252323;



// MAIN
.main-container {
  position: relative;
  background-color: $primary-color;
  border-radius: 12px;
  width: 100%;
  margin: 0 auto;
}

// CONTAINER
.container {
  display: flex;
  flex-wrap: wrap;
}

.top-container {
  background-color: $primary-color;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  border-radius: 0 0 12px 12px;

  a {
    padding-left: 1.25em;
    font-size: 24px;
  }
}

// HEADER
.header {
  // align-self: center;
  flex: 1 1 450px;
  padding: 2em 1em 2em 1em;

  .dish-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
  }

  .icon-container {
    display: flex;
    gap: 2.5em;
    margin-bottom: 1em;

    .rating-container {
      .star-icon {
        font-size: 1.125rem;
      }
    }
    .comment-container {
      .comment-icon {
        font-size: 1.125rem;
      }
    }
  }
  .info {
    flex: 1 1 400px;
  }
}

// IMAGE
.img-container {
  flex: 1 1 450px;
  .dish-img {
    border-radius: 12px;
    width: 100%;
  }
}

// INGREDIENT-SECTION
.ingredients-section {
  flex-grow: 10;
  flex: 1 1 450px;

  .ingredients-list {
    list-style-type: none;
  }
}

// PORTION SELECTOR
.portion-container {
  padding: 0;
  margin-bottom: 3em;
  width: 100%;

  .portion-selector {
    height: 2.75em;
    border: 1px solid $line-color;
    background-color: $primary-color;
    display: flex;
    border-radius: 10px;
    overflow: visible;

    .portion-display {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 3;
      gap: 0.45em;

      .portion-number,
      .portion-icon {
        font-size: 1.125rem;
        color: $text-color;
      }
    }

    .portion-btn {
      font-size: 1.5625rem;
      border: 0;
      flex-grow: 1;
      cursor: pointer;
      color: $primary-color;
      background-color: $secondary-color;
    }

    .portion-btn:active {
      background-color: $effect-color;
    }

    #increase-btn {
      border-right: 1px solid $line-color;
      border-radius: 10px 0px 0px 10px;
    }

    #decrease-btn {
      border-left: 1px solid $line-color;
      border-radius: 0px 10px 10px 0px;
    }
  }
}

// TO-DO SECTION
.to-do-section {
  flex: 1 1 450px;
  order: 2;

  .to-do-subheadline {
    margin: 2em 0 1.5em 1.1em;
  }

  .to-do-item {
    margin-left: 1em;
    padding-left: 0.5em;
  }
}

// REVIEW SECTION
.review-section {
  .input-comment-container {
    .review-input-field {
      width: 100%;
      height: 3em;
      border-radius: 2.2rem;
      overflow: visible;
      padding-left: 1em;
      border: 1.5px solid $line-color;
      margin-bottom: 1em;
    }

    .send-btn {
      padding: 0.5em 1em;
      float: right;
      border-radius: 25px;
      border: 1.5px solid $line-color;
      font-size: 16px;
      background-color: $secondary-color;
      color: #fff;
      cursor: pointer;
    }

    .send-btn:active {
      background-color: $effect-color;
    }
  }

  .history-container {
    margin-top: 6em;
  }
}

@media only screen and (min-width: 1000px) {
  .main-container {
    position: relative;
    margin-top: 6em;
    padding: 1em;
    width: 70%;
  }

  .top-container {
    a {
      padding-left: 17%;
    }
  }

  .header,
  section {
    padding: 0 5em;
  }

  .header {
    margin-top: 5em;

    .dish-title {
      font-size: 2.125rem;
      line-height: 42px;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.125rem;
  }
}
