@forward "general";

// todo Structure code

// HEADER SECTION
.main-header {
  .dish-title {
    font-size: 2.0625rem;
    text-align: center;
    padding: 0.75em 0.75em 0.5em 0.75em;
  }

  .icon-container {
    display: flex;
    gap: 2.5em;
    margin-left: 2.5em;
    margin-bottom: 1.5em;

    .rating-container {
      .star-icon {
        font-size: 1.125rem;
      }

      .rating-number {
        margin-left: 0.35em;
      }
    }

    .comment-container {
      .comment-icon {
        font-size: 1.125rem;
      }

      .comment-number {
        margin-left: 0.35em;
      }
    }
  }
  .dish-img {
    width: 100%;
    margin-bottom: 1em;
  }
}

// PORTION SELECTOR
.portion-container {
  .portion-selector {
    height: 2.75em;
    border: 1px solid rgb(167, 161, 161);
    background-color: #fff;
    display: flex;
    margin: 60px 0em;
    border-radius: 10px;

    .portion-display {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 3;
      gap: 0.45em;

      .portion-number,
      .portion-icon {
        font-size: 1.125rem;
      }
    }

    .btn {
      font-size: 1.5625rem;
      background-color: #fff;
      border: 0;
      flex-grow: 1;
      cursor: pointer;
    }

    .increase-portion-btn {
      border-right: 1px solid rgb(167, 161, 161);
      border-radius: 10px 0px 0px 10px;
    }

    .decrease-portion-btn {
      border-left: 1px solid rgb(167, 161, 161);
      border-radius: 0px 10px 10px 0px;
    }
  }
}

// INGREDIENT-SECTION
.ingredients-section {
  .ingredients-headline {
    margin-top: 0;
  }
}

// TO-DO SECTION
.to-do-section {
  .to-do-subheadline {
    margin-left: 1em;
    font-weight: 500;
    text-transform: uppercase;
  }
}

// REVIEW SECTION
// todo change styling
.review-section {
  .review-input-field {
    width: 100%;
    height: 3em;
    border-radius: 2.2rem;
    padding-left: 1em;
    border: 2px solid black;
  }
}
