.main-container {
  background-color: rgb(171, 171, 48);
}

.main-header {
  .dish-title {
    font-size: 1.875rem;
    text-align: center;
    padding: 0.75em;
    margin-bottom: 0.25em;
  }
  .dish-img {
    width: 100%;
    margin-bottom: 1em;
  }
}

// todo add spacing between element
